
.TileMap
{
	background:		blue;
}

.Tile
{
	background:	yellow;
	border:		2px solid black;
	text-align:	center;
	font-size:	200%;
}

.Tile:before
{
	content:	attr("Tile");
}

button:disabled
{
	visibility:	hidden;
}
